html, body {
    margin: 0;
}
body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: rgb(189, 153, 100);
    min-height: 150px;
}

.header{
    display: flex;
    justify-content: left;
    align-items: center;
}

.header p{
    position:absolute ;
    font-size: 32px;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    padding-left: 40px;
    color: white;
}
.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(189, 153, 100);
    padding: 10px 20px 10px;
    line-height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.menu ul :hover{
    background-color: darkblue;
    color: white;
}

.content {
    background-color:rgb(189, 153, 100);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(189, 153, 100);
    min-height: 150px;
}